.header
  width 100%
  height auto
  background #DA4A74
  display grid
  grid-template-columns 50% 50%
  &__nav
    padding-bottom 10px
  &__nav
    ul 
      padding 0
      display flex
      justify-content left
  &__nav
    li 
      margin 0 2em
      list-style none
      text-align center
  &__nav
    li
      &:hover
        a 
          border-bottom 3px solid #ffffff
          padding-bottom 10px
  &__nav
    a 
      color #ffffff
      text-decoration none
      font-weight bold
  &__user 
    text-align right
    padding-right 5%
    color #ffffff

