@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Muli:400,500,600&display=swap')

body
  margin 0
  padding 0
  box-sizing border-box

h1,h2,h3,a
  font-family 'Lato', sans-serif

h1
  font-size: 40px

p
  font-family 'Muli', sans-serif
  color #BEBEBE
