@media screen and (max-width:768px)
  .hero
    padding 5%
    grid-template-columns 100%
    grid-template-rows 50% 50%
  &__image 
    img 
      width 90%
      height 100%
      object-fit contain
  &__text
    grid-template-rows 30% 30% 25%
  &--button 
    button
      margin-top 0